boxcode::{div style='color: Silver ; width: 300px ; background-image: url(&quot;https://github.com/VirulentArc/Resources/blob/main/d20/bg3/template/main_frame.png?raw=true&quot;) ; background-repeat: no-repeat ; background-color: #0e0906 ; display: block ; text-align: center ; font-size: 14px ; font-family: &quot;AlegreyaSans&quot; , serif ; white-space: pre-wrap ; font-style: normal'}||

titlecode::{div style='margin: 0.3em 0em 0em 0em ; font-size: 28px ; font-family: &quot;AlegreyaSans&quot; , serif ; color: Silver ; display: block ; font-weight: normal ; font-style: normal ; text-align: center ; vertical-align: top ; position: relative ; top: 10px'}||

textcode::{/div}{div}{div style='font-weight: normal; vertical-align: top ; display: block; margin: 0em 0em 0em 0em;'}||

buttonwrapper::{div style='display: inline-block ;'}||

buttonstyle::style='background-color: black ; display: inline-block ; padding: 3px ; color: silver ; text-align: center ; vertical-align: middle ; border-radius: 3px ; border-color: #999999 ; font-family: &quot;AlegreyaSans&quot; , &quot;monsterrat&quot; , serif ; font-size: 12px; margin: 0px 2px; text-shadow: 1px 1px 2px black; '||

footer::